<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
    <div class="title">
        <h4>Listado de Egresos</h4>
        <button type="button" class="btn btn-success" routerLink="/add">Agregar Egreso</button>
    </div>

    <table *ngIf="listEgresos.length > 0" class="table table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col">Fecha</th>
            <th scope="col">Categoria</th>
            <th scope="col">Detalle</th>
            <th scope="col">Valor</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listEgresos" class="table-active">
            <td>{{ item.fecha }}</td>
            <td>{{ item.categoria }}</td>
            <td>{{ item.detalle }}</td>
            <td>{{ item.valor | currency }}</td>
            <td>
                <button routerLink="/edit/{{ item._id }}" type="button" class="btn btn-info btn-sm">Edit</button>
                <button (click)="deleteEgreso(item._id!)" type="button" class="btn btn-danger btn-sm ms-2">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <h5 *ngIf="listEgresos.length == 0">No hay Egresos para mostrar</h5>
</div>

